// Font Sizes
$font_size_h1: 3.24rem;
$font_size_h2: 2.925rem;
$font_size_h3: 2.61rem;
$font_size_h4: 2.295rem;
$font_size_h5: 1.98rem;
$font_size_h6: 1.665rem;
$font_size_p: 1.35rem;
$font_size_label: 1.215rem;
$line_height_multiplier: 1.56;


// Font Size with Line Height
.fs_h1 {
  font-size: $font_size_h1;
  line-height: calc(#{$font_size_h1} * #{$line_height_multiplier});
}

.fs_h2 {
  font-size: $font_size_h2;
  line-height: calc(#{$font_size_h2} * #{$line_height_multiplier});
}

.fs_h3 {
  font-size: $font_size_h3;
  line-height: calc(#{$font_size_h3} * #{$line_height_multiplier});
}

.fs_h4 {
  font-size: $font_size_h4;
  line-height: calc(#{$font_size_h4} * #{$line_height_multiplier});
}
.fs_h5 {
  font-size: $font_size_h5;
  line-height: calc(#{$font_size_h5} * #{$line_height_multiplier});
}

.fs_h6 {
  font-size: $font_size_h6;
  line-height: calc(#{$font_size_h6} * #{$line_height_multiplier});
}

.fs_p {
  font-size: $font_size_p;
  line-height: calc(#{$font_size_p} * #{$line_height_multiplier});
}

.fs_l, .fs_i {
  font-size: $font_size_label;
  line-height: calc(#{$font_size_label} * #{$line_height_multiplier});
}